<!DOCTYPE html>
<html>

<head>
    <partial name="_MetaPartial"></partial>
    <partial name="_CssPartial"></partial>
    @*@await Html.PartialAsync("MetaPartial")*@
    @*@await Html.PartialAsync("CssPartial")*@
</head>
<body>
    <header>
        <partial name="_HeaderPartial"></partial>
       @*@await Html.PartialAsync("HeaderPartial")*@
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        <partial name="_FooterPartial"></partial>
        @*@await Html.PartialAsync("FooterPartial")*@
    </footer>
    <partial name="_ScriptsPartial"></partial>
    @*@await Html.PartialAsync("ScriptsPartial")*@
</body>

</html>