<!DOCTYPE html>
<html>

<head>
    @await Html.PartialAsync("MetaPartial");
    @await Html.PartialAsync("CssPartial");
</head>
<body>
    <header>
       @await Html.PartialAsync("HeaderPartial");
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        @await Html.PartialAsync("FooterPartial");
    </footer>
</body>

</html>