* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    text-rendering: optimizeLegibility;
    font-size: 16px;
    background-color: #ccc;
    color: black;
}

/* ________________________________________________________ */
/*                     Navigation Bar                       */
/* ________________________________________________________ */

@font-face {
    font-family: 'Helvetica';
    src: url('/fonts/Helvetica/Helvetica.ttf') format('ttf');
}


nav {
    font-family: 'Helvetica', 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
}


header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    min-height: 51.8px;
    width: 100%;
    background-color: #2a2a2a;
}

.logo-wrapper {
    cursor: pointer;
    min-height: 51.8px;
    min-width: 70px;
    height: 3.7em;
}

.logo {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    justify-self: flex-start;
    margin-left: 0.43em;
    margin-right: .5em;
    opacity: 90%;
    transition: opacity .2s ease-in-out;
}

    .logo > img {
        height: 100%;
        padding: 12px;
    }

    .logo:hover {
        opacity: 1;
    }



/*------------- Nav Btn X ----------------*/

#xs {
    display: none;
}

.nav-btn-wrap {
    width: 52px;
    height: 60px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

    .nav-btn-wrap > #x {
        background-color: #ccc;
        height: 3px;
        width: 30px;
        position: relative;
        transition: .2s ease all;
    }

        .nav-btn-wrap > #x::after {
            content: "";
            background-color: #ccc;
            position: absolute;
            height: 3px;
            width: 30px;
            top: -8px;
            transition: .2s ease all;
        }

        .nav-btn-wrap > #x::before {
            content: "";
            background-color: #ccc;
            position: absolute;
            height: 3px;
            width: 30px;
            top: 8px;
            transition: .2s ease all;
        }

#xs:checked + label > #x {
    transform: rotateZ(45deg);
    background-color: rgb(233, 233, 233);
}

    #xs:checked + label > #x::before {
        opacity: 0;
    }

    #xs:checked + label > #x::after {
        transform: translateY(0.5em) rotateZ(-90deg);
        background-color: rgb(233, 233, 233);
    }


.nav-btn-wrap {
    display: none;
}

/*----------------------------------------*/

.left-nav {
    margin-right: auto;
    min-height: 100%;
    font-size: 0.70em;
}

.right-nav {
    margin-left: auto;
    min-height: 100%;
    font-size: 0.54em;
}

.navbar {
    list-style: none;
    display: flex;
    min-height: 100%;
}

.navElem {
    display: inline-block;
    min-height: 100%;
}

.divide_line {
    width: 40px;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .divide_line::after {
        content: "";
        height: 70%;
        width: 1px;
        background-color: #ccc;
    }

.nav {
    cursor: pointer;
    text-decoration: none !important;
    text-align: center;
    text-indent: 5px;
    letter-spacing: .5px;
    min-height: 100%;
    width: 100%;
    padding: 0 10.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ccc;
    text-transform: uppercase;
    transition: color .2s ease-in-out;
    position: relative;
}

    .nav > a {
        text-decoration: inherit;
        color: inherit;
        text-align: center;
        text-indent: 5px;
        letter-spacing: .5px;
    }

.nav-highlight {
}

    .nav-highlight:hover {
        color: white;
    }

.nav-lng-highlight {
}

    .nav-lng-highlight:hover {
        color: rgb(233, 233, 233);
    }

.navlink {
    transition: color .2s ease-in-out;
    position: relative;
}

    .navlink::before {
        content: "";
        position: absolute;
        bottom: 0;
        height: 0;
        width: 100%;
        transition: background-color .1s ease-in-out;
        transition: height .2s ease-in-out;
    }

    .navlink:hover::before {
        height: 5px;
        background-color: #0078f2;
    }

.nav-active.navlink::before {
    height: 5px;
    background-color: #0078f2;
}

.dropdownlist {
    list-style: none;
    position: absolute;
    top: 50.8px;
    min-width: 160px;
    width: auto;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transform: translateY(-10px);
    transition: all .1s ease-in-out;
    text-align: center;
}

.left {
    text-align: left;
    left: 0;
}


.right {
    text-align: right;
    right: 0;
}

.text-higlight {
}

    .text-higlight:hover {
        color: white;
    }


.dropItem {
    text-decoration: none;
    background-color: #2a2a2a;
    line-height: 3.5em;
    color: #ccc;
    padding: 0 15px;
}

    .dropItem > a {
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: inherit;
        color: inherit;
    }


    .dropItem:hover {
        color: white;
    }

.dropdown {
}

    .dropdown:hover .dropdownlist {
        opacity: 1;
        display: block;
        visibility: visible;
        transform: translateY(0px);
    }

.btn-download {
    color: white;
    background-color: #0078f2;
}


/* ________________________________________________________ */
/*                     Navigation Bar                       */
/* ________________________________________________________ */

